[build]
builder = "nixpacks"

[build.env]
NIXPACKS_NODE_VERSION = "20"

[deploy]
startCommand = "pnpm start"
healthcheckPath = "/"
healthcheckTimeout = 120
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
